<!-- <title>Login</title> -->
<div class="container">
    <h1>Login</h1>

    <div ng-show="model.error"
         class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form class="form">

        <input ng-model="user.name"
               id="login_username"
               type="text"
               class="form-control"
               placeholder="username">

        <input ng-model="user.pass"
               id="login_password"
               type="password"
               class="form-control"
               placeholder="password">

        <a ng-click="model.login(user)"
           class="btn btn-primary btn-block" >
            Submit
        </a>

        <a class="btn btn-success btn-block"
           href="#/register">
            Register
        </a>

    </form>
</div>