<!-- <title>Page List</title> -->
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container-fluid bg-primary">

        <a href="#/user/{{model.userId}}/website">
            <div class="navbar-text pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
            <div class="navbar-text pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </a>
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-brand">Pages</a>
        </div>
    </div>
</nav>

<div class="container-fluid col-xs-12">

        <li ng-repeat="page in model.pages" class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <a href="#/user/{{model.userId}}">
            <div class="navbar-text pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </div>
        </a>
    </div>
</nav>